
EcommerceAvessoBrecho/obj/Debug/net5.0/EcommerceAvessoBrecho.assets.cache
EcommerceAvessoBrecho/obj/Debug/net5.0/EcommerceAvessoBrecho.csprojAssemblyReference.cache
EcommerceAvessoBrecho/obj/Debug/net5.0/EcommerceAvessoBrecho.dll
