header {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    height: 84px;
}

/*---IDS---*/
#div_topo {
    top: 0px;
    left: 0px;
    width: 1366px;
    height: 84px;
}

#div_logo {
    float: left;
    width: 128px;
    height: 23px;
    margin: 31px 0 30px 31px;
}

#div_menu {
    float: left;
    width: 474px;
    height: 24px;
    margin: 30px 286px 30px 321px;
}

#div_menu a {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-montserrat);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 16px/24px Montserrat;
    letter-spacing: 0px;
    color: #474747;
    opacity: 1;
}

#div_icones {
    float: left;
    width: 91px;
    height: 18px;
    margin: 32px 35px 32px 0;
}

#Shop {
    float: left;
}

#User {
    float: right;
}

/*---Classes---*/
.containerCSS {
    width: 1366px;
    margin: 0 auto;
}

.aMenu {
    padding-left: 48px;
}




html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

