@{ ViewData["Title"] = "FinalizaPedido"; }

@model FinalizaPedidoViewModel;

<div style="margin: 64px 0 64px 80px">
    <h4>Pedido n° @(Model.pedido.Id)</h4>
</div>

<div style="height: 1500px">
</div>