<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Avesso</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <header>
        <div class="containerCSS">
            <div id="div_topo">
                <div id="div_logo">
                    <a class="aMenu" asp-area="" asp-controller="Produto" asp-action="PesquisaProduto"><img src="~/images/Brand - Horizontal.svg" id="logo" /></a>
                </div>

                <div id="div_menu">
                    <a asp-area="" asp-controller="Produto" asp-action="PesquisaProduto">Novidades</a>
                    <a class="aMenu" asp-area="" asp-controller="Produto" asp-action="PesquisaProduto" asp-route-pesquisa="Roupas">Roupas</a>
                    <a class="aMenu" asp-area="" asp-controller="Produto" asp-action="PesquisaProduto" asp-route-pesquisa="Calçados">Calçados</a>
                    <a class="aMenu" asp-area="" asp-controller="Produto" asp-action="PesquisaProduto" asp-route-promocao="true">Promoções</a>
                </div>

                <div id="div_icones">
                    <a asp-controller="Pedido" asp-action="carrinho"><img src="~/images/icons - Shopping.svg" id="Shop" /></a>
                    <a asp-area="" asp-controller="Produto" asp-action="PesquisaProduto"><img src="~/images/icons - User.svg" id="User" /></a>
                </div>
            </div>
        </div>
    </header>

    <div class="containerCSS">
        @RenderBody()
    </div>

    <footer>
        <div class="containerCSS">
            <div id="div_footer">
                <div id="div_iconfooter">
                    <img src="~/images/Icons - Instagram.svg" />
                    <img class="imgIconFooter" src="~/images/Icons - Facebook.svg" />
                    <img class="imgIconFooter" src="~/images/Icons - Twitter.svg" />
                    <img class="imgIconFooter" src="~/images/Icons - Whatsapp.svg" />
                    <label class="labelIconFooter">/avesso.brecho</label>
                </div>

                <div id="div_logofooter">
                    <img src="~/images/Brand - Vertical.svg" />
                </div>

                <div id="div_copyrigth">
                    <label class="labelCopyrigthFooter">&copy; 2021 - Todos os direitos reservados.</label>
                </div>
            </div>
        </div>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="modalCamisa" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="margin: 32px 56px">
                    <label class="modalCabecalho">Compare suas medidas com essa tabela</label>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>

                <div class="modal-body" style="margin: 0 56px">
                    <div class="modalCabecalho">
                        <div class="row">
                            <div class="col-md-6">
                                Tamanho
                            </div>
                            <div class="col-md-2 text-center">
                                Busto
                            </div>
                            <div class="col-md-2 text-center">
                                Cintura
                            </div>
                            <div class="col-md-2 text-center">
                                Quadril
                            </div>
                        </div>
                    </div>
                    <div class="modalLinha">
                        <div class="row">
                            <div class="col-md-6" style="padding-bottom: 16px">
                                PP
                            </div>
                            <div class="col-md-2 text-center" style="border-bottom: 2px solid #dee2e6; padding-bottom: 16px">
                                78 - 82
                            </div>
                            <div class="col-md-2 text-center" style="border-bottom: 2px solid #dee2e6; padding-bottom: 16px">
                                60 - 64
                            </div>
                            <div class="col-md-2 text-center" style="border-bottom: 2px solid #dee2e6; padding-bottom: 16px">
                                88 - 92
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-bottom: 16px; padding-top: 16px">
                                P
                            </div>
                            <div class="col-md-2 text-center" style="border-bottom: 2px solid #dee2e6; padding-bottom: 16px; padding-top: 16px">
                                82 - 90
                            </div>
                            <div class="col-md-2 text-center" style="border-bottom: 2px solid #dee2e6; padding-bottom: 16px; padding-top: 16px">
                                64 - 72
                            </div>
                            <div class="col-md-2 text-center" style="border-bottom: 2px solid #dee2e6; padding-bottom: 16px; padding-top: 16px">
                                92 - 100
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-bottom: 16px; padding-top: 16px">
                                M
                            </div>
                            <div class="col-md-2 text-center" style="border-bottom: 2px solid #dee2e6; padding-bottom: 16px; padding-top: 16px">
                                90 - 98
                            </div>
                            <div class="col-md-2 text-center" style="border-bottom: 2px solid #dee2e6; padding-bottom: 16px; padding-top: 16px">
                                72 - 80
                            </div>
                            <div class="col-md-2 text-center" style="border-bottom: 2px solid #dee2e6; padding-bottom: 16px; padding-top: 16px">
                                100 - 108
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-bottom: 16px; padding-top: 16px">
                                G
                            </div>
                            <div class="col-md-2 text-center" style="border-bottom: 2px solid #dee2e6; padding-bottom: 16px; padding-top: 16px">
                                98 - 106
                            </div>
                            <div class="col-md-2 text-center" style="border-bottom: 2px solid #dee2e6; padding-bottom: 16px; padding-top: 16px">
                                80 - 88
                            </div>
                            <div class="col-md-2 text-center" style="border-bottom: 2px solid #dee2e6; padding-bottom: 16px; padding-top: 16px">
                                108 - 116
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-bottom: 16px; padding-top: 16px">
                                GG
                            </div>
                            <div class="col-md-2 text-center" style="padding-bottom: 16px; padding-top: 16px">
                                106 - 114
                            </div>
                            <div class="col-md-2 text-center" style="padding-bottom: 16px; padding-top: 16px">
                                88 - 96
                            </div>
                            <div class="col-md-2 text-center" style="padding-bottom: 16px; padding-top: 16px">
                                116 - 124
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
